* {
  padding: 0;
  border: 0;
}

body {
  font-family: DynaPuff, cursive;
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.ball {
  background-color: aquamarine;
  border: 2px whitesmoke solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@media screen and ( max-width : 425px ) {

  #header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #logo {
    width: 90%;
  }

  #title {
    display: flex;
    justify-content: center;
  }

  /*

    Ideia de fazer as letras coridas mas não ficou muito bom
   font-size: 50px;
    background-image: linear-gradient(
      90deg, red, orange, yellow, green, blue, indigo, violet);
    stylelint-disable-next-line all
    -webkit-background-clip: text;
    color: transparent;

    */

  #rgb-color {
    font-size: 20px;
    text-align: center;
  }

  #options {
    width: 80%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    padding: 6px;
  }

  #textContainer {
    width: 100%;
    text-align: center;
  }

  .ballsContainer {
    display: flex;
    gap: 6px;
  }

  #answer {
    text-align: center;
  }

  .reset-game {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-family: DynaPuff, cursive;
    width: 60%;
    height: 6vh;
  }

  #scoreBoard {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(19, 102, 185, 0.699);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
  }

  #players {
    width: 70%;
    height: 50vh;
    border: 2px whitesmoke solid;
  }

  .points {
    display: flex;
    gap: 5px;
    padding-left: 5px;
    justify-content: space-around;
  }

  #playerName {
    font-family: DynaPuff, cursive;
    background-color: transparent;
    color: whitesmoke;
    border-top: 2px;
    border-bottom: 2px;
    border-color: whitesmoke;
    border-style: solid;
    width: 100vw;
    height: 25px;
    text-align: center;
  }

  #playerName::placeholder {
    color: aliceblue;
  }

  #removeBoard {
    border-color: red;
  }

}

/* @media screen and ( min-width : 426px ) and ( max-width : 768px ) {}

@media screen and ( min-width : 769px ) {} */
